# Root Docker Compose defaults
APP_NAME=SBA
APP_ENV=local
APP_DEBUG=true
APP_URL=http://sba-api.local
FRONTEND_URL=http://sba-app.local

DB_DATABASE=sba
DB_USERNAME=sba
DB_PASSWORD=sba
DB_ROOT_PASSWORD=root

REDIS_HOST=redis
